/*-------------------------------------

Universial Styling

-------------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #aeecf8;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header-container {
    margin: 0 auto;
    background-color: #aeecf8;
    max-width: 1000px;
    text-align: right;
}

.header-text {
    padding-bottom: 30px;
    padding-top: 10px;
}

.header-logo {
    float: left;
    padding-right: 50px;
}

header nav ul li {
    display: inline;
    margin: 0 35px;
}

header p {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #00949d;
    font-family: 'Righteous', cursive;
    color: white;
}

header nav a {
    color: #00949d;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    transition: .5s;
}

.header-container a {
    padding-top: 50px;
}

.active {
    color: #d95a00;
    text-decoration: underline;
}

header nav a:hover {   
    color: #ff925a;
    transition: .5s;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    font-size: 16px;
    padding: 129px 10px 0 10px;
}

/*-------------------------------------

.main-container h1 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 38px;
    padding-bottom: 10px;
    text-align: center;
}

.main-container h2 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 32px;
    padding-bottom: 10px;
}

-------------------------------------*/

.hero {
    margin-bottom: 35px;
}

footer {
    background-image: url(../images/pattern.jpg);
    padding-top: 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    text-align: center;
}

.footer-text {
    padding: 0;
    background-color: white;
    padding-top: 25px;
    font-size: 12px;
    margin: 25px 0;
    color: #ff925a;
}

footer nav ul li {
    display: inline;
    margin: 0 25px;
}

footer nav ul li img {
    border: #ec7137 5px solid;
    border-radius: 50%;
}



/*-------------------------------------

About Us Styling

-------------------------------------*/

.left-column,
.right-column {
    width: 45%;
    display: inline-block;
    padding: 20px 20px 0 20px;
    vertical-align: top;
}

.right-column {
    margin-left: 15px;
}

.img-left {
    float: left;
    padding: 0px 10px 10px 0;
}


.left-column p {
    padding-bottom: 10px;
}

.left-column p:last-of-type {
    padding-bottom: 23px;
}

.right-column iframe {
    padding-bottom: 10px;
}

.right-column iframe:last-of-type {
    padding-bottom: 0;
}

.about-us h1,
h2 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 32px;
    padding-bottom: 10px;
    text-align: left;
}

.single-column {
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
}

.single-column h2{
    margin: 20px 0 0 0;
    padding-bottom: 0;
    text-align: center;
}

.single-column p {
    padding-bottom: 10px;
    font-size: 20px;
}

.single-column a {
    color: black;
    transition: .5s;
}

.single-column a:hover {   
    color: #ff925a;
    transition: .5s;
}

details summary {
    padding-top: 5px;
    color: #ff925a;
    font-weight: bold;
}

details p {
    padding-top: 5px;
    font-size: 14px;
    margin-left: 15px;
}

/*-------------------------------------

Events Main Page Styling

-------------------------------------*/
.blue-heading h1 {
    font-family: 'Fugaz One', cursive;
    color: #00949d;
    font-size: 38px;
    padding-bottom: 10px;
    text-align: center;
}

.green-heading h2 {
    color: #00bda3;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.calendar {
    padding: 40px 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table thead {
    background-color: #008476;
}

table thead tr th {
    padding: 5px 10px;
    width: 120px;
    color: white;
    font-weight: bold;
}

.numbers tr td {
    padding: 5px;
    text-align: right;
    border-right: 1px solid #d95a00;
    border-left: 1px solid #d95a00;
    width: 120px;
}

.events tr td {
    padding: 5px;
    text-align: center;
    border-right: 1px solid #d95a00;
    border-left: 1px solid #d95a00;
    border-bottom: 1px solid #d95a00;
    height: 90px;
    vertical-align: top;
    width: 120px;
}

.events tr td p {
    font-size: 12px;
}

.events tr td a {
    color:#008476;
    font-size: 12px;
    font-weight: bold;
    transition: .5s;
}

.events tr td a:hover {
    color:#d95a00;
    font-size: 12px;
    font-weight: bold;
    transition: .5s;
}

.event-left, .event-right, .event-center {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #008476;
    font-family: 'Fugaz One', cursive;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #aeecf8;
    font-family: 'Fugaz One', cursive;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    transition: .5s;
}

.button a:hover {
    text-decoration: none;
    color: #008476;
    transition: .5s;
}

/*-------------------------------------

Event Info Page Styling

-------------------------------------*/

.event-content {
    margin: 40px 25px;
}

.event-content h1{
    font-family: 'Fugaz One', cursive;
    color: #00949d;
    font-size: 35px;
}

.event-content p {
    padding: 10px 0;
    font-size: 18px;
}

.event-content h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #d95a00;
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0;
}

.event-content h1::first-letter {
    font-family: 'Fugaz One', cursive;
    color: #00949d;
    font-size: 50px;
}

.event-content ul li {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.event-content ul {
    list-style-type: none;
}

.event-register {
    border-radius: 8px;
    color: black;
    margin: 40px 25px;
}

.event-register h2 {
    font-family: 'Fugaz One', cursive;
    color: #00bda3;
    font-size: 24px;
    margin: 5px 0;
}

.event-register h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    font-size: 16px;
    padding-bottom: 5px;
}

.submit input {
    background: #008476;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.submit input:hover {
    background: #d95a00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

input {
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 7px;
    background-color: #d8d8d8;
}

.input-section {
    margin-bottom: 10px;
}

textarea {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #d8d8d8;
    margin-top: 5px;
    display: block;
}

select {
    width: 185px;
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.radiobutton input,
.checkbox input {
    margin-bottom: 10px;
    margin-right: 5px;
}

label {
    font-weight: bold;
}

/*-------------------------------------

Menu Page Styling

-------------------------------------*/

.main-container-menu {
    background-image: url(../images/pattern-green.png);
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 129px 10px;
}

.menu-heading h1 {
    font-family: 'Fugaz One', cursive;
    color: #008476;
    font-size: 35px;
    margin-left: 100px;
    margin-top: 50px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar {
    height: 400px;
    width: 250px;
    margin-top: 95px;
    margin-right: 275px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 40px;
    }

.sidebar ul li a {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #00949d;
    font-size: 22px;
    display: block;
    padding-top: 2px;
    }

.sidebar ul li a:hover {
    color: #f2ccaf;
}

.menu-left {
    margin-right: 400px;
    margin-left: 100px;
}

.menu-left p {
    padding-bottom: 10px;
}

p.food-item {
    padding-bottom: 0;
}

.menu-left h2{
    padding-top: 40px;
    color: #d95a00;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
}


#specials,
#drinks,
#smoothie,
#wine,
#beverage,
#breakfast,
#apps,
#salad,
#handhelds,
#entree,
#dessert {
    scroll-margin-top: 100px;
}

#top {
    scroll-margin-top: 200px;
}

.food {
    font-style: italic;
    font-size: 15px;
}

.food-item p {
    padding-bottom: 0px;
}


/*-------------------------------------

.menu-right {
    width: 30%;
}

.menu-right,
.menu-left {
    vertical-align: top;
    display: inline-block;
}

.menu-right ul {
    list-style-type: none;
}

.menu-right ul li a {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #00949d;
    font-size: 22px;
    padding: 10px 0;
}
.menu-right ul li:before {
    content:"•";
    font-size: 50px;
    color: #f2ce7b;
    display: inline-block;
}

Home Page Styling

-------------------------------------*/

.gallery {
    width: 1000px;
    margin-bottom: 50px;
}

.gallery img {
    width: 322px;
    padding: 4px;
}

.home-heading h1 {
    font-family: 'Righteous', cursive;
    color: #d95a00;
    font-size: 38px;
    margin-bottom: 40px;
    text-align: center;
}

.three-column-home {
    margin-bottom: 40px;
}

.three-column-home h2 {
    color: #d95a00;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.home-image {
    position: relative;
}

.home-image img.hover-image{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    margin-left: 39px;
    transition: opacity .2s;
}

.home-image img.hover-image:hover {
    opacity: 1;
  }

.reviews h2 {
    text-align: center;
    padding-bottom: 0;
    margin-top: 18px;
}

.reviews p {
    font-size: 25px;
    color: #00949d;
}

.quote-mark {
    font-size: 35px;
    font-family: 'Fugaz One', cursive;
    color: #f2ce7b;
}

.reviews {
    position: relative;
    margin: 5px 40px 40px 40px;
    max-width: 1000px;
    height: 300px;
    border-top: 2px solid #f2ccaf;
    border-bottom: 2px solid #f2ccaf;
}

.review-one {
    position: absolute;
    width: 900px;
    text-align: center;
    animation: show 12s infinite ease-in-out;
}

.review-two {
    position: absolute;
    width: 900px;
    text-align: center;
    animation: invisible 12s infinite ease-in-out;
}

.review-three {
    position: absolute;
    width: 900px;
    text-align: center;
    animation: invisible-two 12s infinite ease-in-out;
}

@keyframes show {
    0% {
        opacity: 100%;
    }

    32% {
        opacity: 100%;
    }

    33% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes invisible {
    0% {
        opacity: 0%;
    }

    32% {
        opacity: 0%;
    }

    33% {
        opacity: 100%;
    }

    65% {
        opacity: 100%;
    }

    66% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}


@keyframes invisible-two {
    0% {
        opacity: 0%;
    }

    65% {
        opacity: 0%;
    }

    66% {
        opacity: 100%;
    }

    99% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
