/*-------------------------------------

Universial Styling

-------------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #aeecf8;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header-container {
    margin: 0 auto;
    background-color: #aeecf8;
    max-width: 1000px;
    text-align: right;
}

.header-text {
    padding-bottom: 30px;
    padding-top: 10px;
}

.header-logo {
    float: left;
    padding-right: 50px;
}

header nav ul li {
    display: inline;
    margin: 0 35px;
}

header p {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #00949d;
    font-family: 'Righteous', cursive;
    color: white;
}

header nav a {
    color: #00949d;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    transition: .5s;
}

.header-container a {
    padding-top: 50px;
}

.active {
    color: #d95a00;
    text-decoration: underline;
}

header nav a:hover {   
    color: #ff925a;
    transition: .5s;
}

.main-container {
    max-width: 850px;
    margin: 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    padding: 129px 10px 0 10px;
}

.main-container h1 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 38px;
    padding-bottom: 10px;
    text-align: center;
}

.main-container h2 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 32px;
    padding-bottom: 10px;
}

.hero {
    margin-bottom: 35px;
}

footer {
    background-image: url(../images/pattern.jpg);
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    text-align: center;
}

.footer-text {
    padding: 0;
    background-color: white;
    padding-top: 25px;
    font-size: 12px;
    margin: 25px 0;
    color: #ff925a;
}

footer nav ul li {
    display: inline;
    margin: 0 25px;
}

footer nav ul li img {
    border: #ec7137 5px solid;
    border-radius: 50%;
}



/*-------------------------------------

About Us Styling

-------------------------------------*/

.left-column,
.right-column {
    width: 45%;
    display: inline-block;
    padding: 20px 20px 0 20px;
}

.img-left {
    float: left;
    padding: 0px 10px 10px 0;
}


.left-column p {
    padding-bottom: 10px;
}

.left-column p:last-of-type {
    padding-bottom: 23px;
}

.right-column iframe {
    padding-bottom: 10px;
}

.right-column iframe:last-of-type {
    padding-bottom: 0;
}

.about-us h1,
h2 {
    font-family: 'Fugaz One', cursive;
    color: #d95a00;
    font-size: 32px;
    padding-bottom: 10px;
    text-align: left;
}

.single-column {
    text-align: center;
    margin: 25px 0;
    width: 700px;
    margin: auto;
}

.single-column h2{
    margin: 20px 0 0 0;
    padding-bottom: 0;
    text-align: center;
}

.single-column p {
    padding-bottom: 10px;
    font-size: 20px;
}

.single-column a {
    color: black;
    transition: .5s;
}

.single-column a:hover {   
    color: #ff925a;
    transition: .5s;
}

/*-------------------------------------

Events Main Page Styling

-------------------------------------*/
.blue-heading h1 {
    color: #00949d;
}

.green-heading h2 {
    color: #00bda3;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.calendar {
    width: 850px;
    margin: 0 auto;
    padding: 40px 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table thead {
    background-color: #008476;
}

table thead tr th {
    padding: 5px 10px;
    width: 90px;
    color: white;
    font-weight: bold;
}

.numbers tr td {
    padding: 5px;
    text-align: right;
    border-right: 1px solid #d95a00;
    border-left: 1px solid #d95a00;
    width: 100px;
}

.events tr td {
    padding: 5px;
    text-align: center;
    border-right: 1px solid #d95a00;
    border-left: 1px solid #d95a00;
    border-bottom: 1px solid #d95a00;
    height: 90px;
    vertical-align: top;
    width: 105px;
}

.events tr td p {
    font-size: 12px;
}

.events tr td a {
    color:#008476;
    font-size: 12px;
    font-weight: bold;
    transition: .5s;
}

.events tr td a:hover {
    color:#d95a00;
    font-size: 12px;
    font-weight: bold;
    transition: .5s;
}

.event-left, .event-right, .event-center {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #008476;
    font-family: 'Fugaz One', cursive;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #aeecf8;
    font-family: 'Fugaz One', cursive;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    transition: .5s;
}

.button a:hover {
    text-decoration: none;
    color: #008476;
    transition: .5s;
}